body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CCD5AE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

#map-container {
  margin: 20px;
  /* position: absolute; */
}

#scoreboard {
  margin: 20px;
  /* position: absolute; */
}

.navbar {
  width: 100vw;
  display: flex;
  gap: 1rem;
  height: 4rem;
  border-bottom: 1px solid rgb(196, 196, 196);
  box-shadow: 1px 1px 10px rgb(196, 196, 196);
  align-items: center;
  justify-content: center;
  background-color: white;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: black;
}

#scoreboard-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.score {
  margin: 5px;
  padding: 5px;
  background-color: #81C2DC;
  border-radius: 5px;

}

.questions-container {
  background-color: #CCD5AE;
  width: 100v;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: space-evenly;
}

.question{
  text-align: left;
  padding: 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 400px;
  border-radius: 15px;
  background-color: rgb(247, 240, 234);
}

/* .map-container {
  height: 400px;
}
   
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} */
